@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root{
    --theme-color: white;
    --primary-color: #124f88;
    --secondary-color: #f7c331;
    --text-color:black; 
    --navbar-shadow-color:#e5e5e5;
    --menu-mobile-background-color:#3a4460;
    --text-color-inverse:white;
}

html{
    scroll-behavior: smooth;
}
section [id]{
    scroll-margin-top: 70px;
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}

@media (mind-width: 950px){
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
}